@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--font-color: #FFF;
	--background-red: 255, 70, 84;
	--background-black: 10, 20, 30;
}

html{
	background: rgb(10, 20, 30);

}


body {
	color: var(--font-color);
	background: linear-gradient(
		to bottom,
		rgba(255, 255, 255, 0.04) 2% ,
		rgb(var(--background-red)) 50% ,

		rgb(var(--background-black)) 97%
	);
}
